*{
    margin:0;
    font-family:Arial;
    border:border-box;
}
.navbar{
    height: 100px;
    background-color: black ;
    color:aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo{
    height:100px;
    width:280px;
    
}
.logo{
    background-size: cover;
    height:100px;
    width:100%;
    margin:40px;

}
.grid{
    /* background-size: cover;
    background-position:center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right, rgb(0, 81, 162), #85a3d4);
    min-height: calc(100vh - 100px); */
    align-self: stretch;
    font-family: Inter, sans-serif;
    font-size: 42px;
    line-height: 320px;
    font-weight: 600;
    /* background-color: rgb(35, 123, 211); */
    background-image: linear-gradient(to bottom,rgb(1, 3, 5), #313845);
    /* background-size: cover; */
    background-position: center;
    padding: 75px;
    margin:0px 0px 80px;

}
.essay-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem;
    margin-top: 20px;
}

#essay {
    width: 1000px; 
    min-height: 500px; 
    padding: 1rem;
    outline: none; 
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
}
  button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:10px;
    background:linear-gradient(to right ,#b808ed ,#2890f3);
  }
  .profile{
    text-align:right;
    font-size: 30px;
    display:flex;
    /* float:right;  */
  }
  .about{
    padding: 40px;
    margin-left: auto;
    /* margin-right:100; */
    text-align:right;
    font-size:30px;
    display:flex;
}


 
